.fantastic{
    margin-bottom: 50vh;
    border: 0;
    list-style: none;
    text-decoration: none;
}
.fantastic span:nth-of-type(1){
    color: var(--voilet);
    font-size: 2.7rem;
    font-weight: 600;
}

.cards{
    position: relative;
}
.cards>*{
    position: absolute;
}

.s-blurImgBg{
    position: absolute;
  top: 63rem;
  left: -10rem;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
}