.card{
    width: 15rem;
    /* height: 13rem; */
    position: absolute;
    gap: 1rem;
    align-items: center;
    background: rgb(255, 255, 255, 0.26);
    border: 7px solid var(--voiletCard);
    box-shadow: var(--boxShadow);
    border-radius: 20px;
}

.card span:nth-of-type(2){
    color: var(--grey);
}

.card > img{
    transform: scale(0.6);
    margin-bottom: -2rem;
}

.c-btn{
    background: #fff;
    color: var(--voilet);
    font-size: 13px;
    transition: 0.8s;
}

.c-btn:hover{
    background: var(--voilet);
    color: #fff;
}