.experience{
    margin-top: 10rem;
    margin-bottom: 30vh;
}

.circle{
    position: relative;
    border-radius: 100%;
    background: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    border: 8px solid red;
    border-radius: 50%;
}

.circle::before{
    border-radius: 100%;
    background-image: linear-gradient(to bottom, #87e6fb 0% ,#ffc05c 100%);
    border: 8px solid red;
    top: -8px;
    left: -8px;
    bottom: -8px;
    right: -8px;
}