.w-right{
    position: relative;
}
.w-mainCircle{
    position: relative;
    left: 9rem;
    width: 18rem;
    height: 18rem;
    border-radius: 100%;
    box-shadow: var(--boxShadow);
    top: 2rem;
    background: white;
}
.w-mainCircle>*{
    position: absolute;
}

.w-mainCircle > :nth-child(1){
    top: -15rem;
    left: -7rem;
}
.w-mainCircle > :nth-child(2){
    top: -6rem;
    left: -16rem;
}
.w-mainCircle > :nth-child(3){
    top: 3rem;
    left: -7rem;
}
.w-mainCircle > :nth-child(4){
    top: -6rem;
    left: 1rem;
}
.w-mainCircle > :nth-child(5){
    top: -6rem;
    left: -7rem;
}
.w-2circle{
    width: 6rem;
    height: 6rem;
    position: absolute;
    border-radius: 100%;
    border: 5px solid #ebebeb;
    align-items: center;
    justify-content: center;
    background: white;
    box-shadow: var(--boxShadow);
}

.w-2circle > img{
    transform: scale(0.28);
}